.navbar-brand p {
  text-shadow: 0 2px 3px rgb(56, 56, 56);
  font-size: 20px;
  color: #c2fbba;
}

.navbar-brand p span{
  font-size: 10px;
  text-shadow: 0 1px 2px rgba(56, 56, 56, 0.597);
  color: rgb(194, 194, 194);
}

.nav-con{
  padding-left: 120px;
  padding-right: 30px;
}

.nav-item-first{
  margin-left: 90px;
}

.nav-item{
  margin-right: 20px;
}

.box-ani{
  transition: clip-path 0.5s ease, background-position 0.5s ease;
  clip-path: polygon(0 35%, 25% 0, 100% 0%, 100% 75%, 85% 100%, 0% 100%);
  border: 1.5px solid;
  text-align: center;
  color: #fafafa;
}

.box-1{
  width: 80px;
  border-color: #c2fbba;
}
.box-1:hover{
  background: repeating-linear-gradient(
        125deg,
        #c2fbba3a,
        #c2fbba3a 10px,
        #363635 10px,
        #363635 20px
      );
}

.box-2{
  border-color: #eedbf5;
  color: #fafafa;
  width: 100px;
}

.box-2:hover{
  background: repeating-linear-gradient(
        125deg,
        #eedbf539,
        #eedbf539 10px,
        #363635 10px,
        #363635 20px
      );
}

.box-3{
  border-color: #f75353;
  color: #fafafa;
  width: 70px;
}

.box-3:hover{
  background: repeating-linear-gradient(
        125deg,
        #f7535339,
        #f7535339 10px,
        #363635 10px,
        #363635 20px
      );
}

.box-ani:hover {
  clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 0 100%); 
}

.dropdown-menu{
  border-color: #eedbf57a;
  border-style:dashed;
}

.dropdown-item{ 
  font-size: 13px;
}

@media (max-width:1200px) {
  .nav-con{
    padding-left: 50px;
    padding-right: 50px;
  }
  .box-1{
     width: 100%;
  }
  .box-2{
     width: 100%;
  }
  .box-3{
     width: 100%;
  }
}

@media (max-width:992px) {
  .nav-con{
    padding-left: 20px;
    padding-right: 20px;
  }
  .box-1{
     width: 100%;
  }
  .box-2{
     width: 100%;
  }
  .box-3{
     width: 100%;
  }
  .box-ani{
    border: none;
    clip-path: none;
    padding-left: 20px;
    text-align: left;
  }
  .box-ani:hover{
    background: rgb(38, 38, 38);
  }
  .nav-item-first{
    margin: 0px; 
  }
  .dropdown-menu{
    border-style: solid;
  }
}

/*  */
.content-width{
  margin: 0 5%;
}

.main-text{
  font-size: 120px;
}

@media (max-width:992px) {
  .content-width{
    margin: 0 2%;
  }
  .main-text{
    font-size: 90px;
  }
}

.discord-line{
  background-color: #1f2129;
  justify-content: center;
  padding: 40px 0;
}

